*.jar
*.war
*.ear
*.zip
*.class
*.exe
*.so
*.dll
*.avi
*.mkv
*~
tmp/
/.DS_Store


/MyCite2Boot/target/


/MyCite2Backend/target/
/MyCite2Backend/build/
/MyCite2Backend/src/main/resources/local.properties
/MyCite2Backend/nb-configuration.xml
/MyCite2Backend/.settings
/MyCite2Backend/nbproject/
/MyCite2Backend/src/main/resources/logback.xml
/MyCite2Backend/spy.log


/MyCite2Frontend_architect/nbproject/private/
/MyCite2Frontend_architect/build/
/MyCite2Frontend_architect/ext/
/MyCite2Frontend_architect/.architect
/MyCite2Frontend_architect/resources/config.js
/MyCite2Frontend_architect/resources/.arch-internal-preview.css
/MyCite2Frontend_architect/resources/preview-ext-theme-crisp-d92d0086-d97e-4aab-bbdf-fa8ca57cba00.css


/MyCite2Frontend/.idea
/MyCite2Frontend/build/
/MyCite2Frontend/app/config/Config.js
/MyCite2Frontend/bootstrap.js
/MyCite2Frontend/bootstrap.json
/MyCite2Frontend/bootstrap.css
/MyCite2Frontend/sass/example/
/MyCite2Frontend/resources/config.js
/MyCite2Backend/*.log

mycite2-test/*/bin
mycite2-test/*/build
mycite2-test/bin
mycite2-test/build
mycite2-test/.gradle
mycite2-test/release
mycite2-test/target

mycite2-test/.metadata
mycite2-test/.project
mycite2-test/.classpath
mycite2-test/.settings
mycite2-test/.pmd
mycite2-test/.springBeans
mycite2-test/testcases.txt